
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modify-user-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
